* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{

    /* variables */
    --main-color: #facc00;
    --color-1:#eaa023;
    --color-2:#b49d38;
    --dark-800: #24292d;
    --dark-700: #2f363e;
    --white-900: #ffffff;
    scroll-behavior: smooth;

}
section{
    padding: 100px;
}
/* STICKY */
header.sticky{
    background-color: var(--white-900);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1) ;
    color: black;
    height: 50px;
}
header.sticky .logo{
    color: black;
    font-weight: 650;
}
header.sticky ul li a{
    color: black;
}
/* BANNER */
.banner{
    position: relative;
    min-height: 100vh;
    background: url("../img/p1.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner h2{
    font-size: 50px;
    color: #fff;
    font-weight: 500;
}
.banner h2 span{
    font-size: 2em;
    font-weight: 700;
    color: var(--main-color);
}
.banner h3{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
}
.btn{
    position: relative;
    background-color: var(--color-1);
    padding: 10px 30px;
    margin-top: 30px;
    display: inline-block;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all 0.5s ease;
    display: inline-block;
    
}
.btn:hover{
    background-color: transparent;
    border-color:  var(--main-color);
    cursor: pointer;
    color: var(--color-1);
}

/* HEADER - NAVBAR*/
header{
    position: fixed;
    background-color: transparent;
    top: 0;
    height: 50px;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.3s ease;
}
header .logo{
    text-decoration: none;
    color: var(--white-900);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 35px;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    font-size: 24px;
    display: inline-block;
    padding: 0 20px;
    text-decoration: none; 
    color: white;
    transition: all 0.5s ease;
}
header ul li a:hover{
    color: var(--main-color);
}

/* ABOUT */

.v100{
    min-height: 100vh;
}

.heading{
    width: 100%;
    text-align: center;
    color: #111;
}
.about .heading h2{
    font-weight: 600;
    font-size: 44px;
    padding-top: 50px;
    color: var(--color-1);
}
 .content{
    margin-top: 70px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.about .contentBox h3{
    font-size: 24px;
    margin-bottom: 10px;
}
.about .contentBox{
    width: 500px;
    margin: 10px;
    text-align: justify;
    padding: 25px;
}
.contentImg img{
    max-width: 700px;
}


/* SERVICES */

.services{
    background-color: var(--dark-800);
    color: var(--white-900);
}
.services .heading h2{
    color: var(--color-1);
    padding-top: 50px;
    font-size: 44px;
}
.services .heading p{
    color: var(--white-900);
}
.services .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.services .content .servicesBx{
    border: 1px solid var(--main-color);
    /* width: calc(30% - 30px); */
    padding: 40px 20px;
    max-width: 340px;
    text-align: center;
    transition: all 0.3s ease;
    background-color: var(--dark-700);
    margin: 10px;
}
.services .content .servicesBx:hover{
    background-color: var(--main-color);
    color: var(--dark-800);
}
.services .content .servicesBx img{
    max-width: 80px;
    padding-bottom: 5px;
    filter: invert(1);
}
.services .content .servicesBx:hover img{
    max-width: 80px;
    filter: invert(0);
}
.services .content .servicesBx:hover p{
  color: var(--dark-800);
}

/* WORK */
.work .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.work .heading h2{
    padding-top: 50px;
    color: var(--color-1);
    font-size: 44px;
}
.work .content .workBx {
    width: 250px;
    margin: 10px;
}
.workBx img{
    max-width: 100%;
    
}
/* TESTIMONIOS */
.testimonios{
    background-color: var(--dark-800);
}
.testimonios .heading h2 {
    padding-top: 50px;
    color: var(--color-1);
    font-size: 44px;
}
.testimonios .heading p{
    color: var(--white-900);
}
.testimonios .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.testimonioBox{
    max-width: calc(25% - 10px);
    /* background-color: red; */
    margin: 5px;
    border: 1px solid var(--main-color);
    padding: 40px 20px;
    text-align: center;
    transition: all 0.3s ease;
    background-color: var(--dark-700);
}
.testimonios .testimonioBox p{
    font-size: 20px;
    text-align: justify;
    color: var(--white-900);
}
.testimonioBox h3{
    margin-top: 30px;
    text-align: end;
    color: var(--white-900);
}
.testimonioBox:hover{
    background-color: var(--main-color);
}
.testimonios .content .testimonioBox:hover p{
    color: var(--dark-800);
  }
.testimonios .content .testimonioBox:hover h3{
    color: var(--dark-800);
  }

  /* CONTACTO */
.contacto{
      background-color: var(--dark-700);
  }
.contacto .heading h2{
    padding-top: 50px;
      color: var(--color-1);
      font-size: 44px;
  }
.contacto .heading p{
      color: var(--white-900);
  }
.infoContacto{
      display: flex;
      justify-content:space-around;
      width: 100%;
      flex-wrap: wrap;
  }
.infoBox{
      min-width:50%;
      /* background-color: red; */
  }
.infoBox h3{
      color: var(--color-1);
  }
.infoBox .box{
     /*  background-color: turquoise; */
      margin: 5px;
      padding: 20px;
      display: flex;
  }
.infoBox .box .icon{
      min-width: 40px;
      padding-bottom: 10px;
      color: var(--white-900);
      display: flex;
      font-size: 24px;
      align-items: center;
  }
.infoBox .box .text{
    min-width: 40px;
    padding-bottom: 10px;
    color: var(--white-900);
    font-size: 18px;
    
}
.formuBox{
    justify-content: space-evenly;
    min-width: 50%;
   /*  background-color: blue; */
}
.formuBox form{
    display: flex;
    flex-direction: column;
}
.formuBox form h3{
    font-size: 25px;
    margin-bottom: 20px;
    color: var(--color-1);
}
.formuBox form input, .formuBox  textarea{
    margin-bottom: 20px;
    padding: 15px;
    background: transparent;
    border: none;
    outline: none;
    color: var(--white-900);
    background-color: var(--dark-800);
    resize: none;
}
.formuBox  textarea{
    min-height: 150px;
}
.formuBox form input[type="submit"]{
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid transparent;
    letter-spacing: 3px;
    transition: all 0.3s ease;
}
.formuBox form:hover input[type="submit"]{
    color:var(--main-color);
    font-weight: 600;
    background-color: transparent;
    border-color: var(--main-color);
}

.copy{
    text-align: center;
    background-color: black;
    color: var(--white-900);
    padding: 30px;
}

/*----------- RESPONSIVE DESIGN --------------*/
@media (max-width: 991px){
    header, header.sticky {
        padding-bottom: 100px;
        z-index: 1000;
        color: black;
    }
    .menu{
        position: fixed;
        top: 75px;
        left: -100%; /* PRIMER PASO. PRIMERO PONER EN 0, HASTA header.sticky .toggle{
            filter: invert(1);
        }  */
        display: block;
        text-align: center;
        padding: 90px 60px;
        width: 100%;
        height: 100vh;
        transition: 0.3s;
        color: black;
        background-color: white;
        border-top: 1px solid rgba(0,0,0,0.2);
        z-index: 999;
    }
    /* TERCER PASO:*/
    .menu.activate{
        left: 0;
    }
    header ul li a{
       color: black;
       padding: 20px;
    }
    .toggle{
        width: 40px;
        height: 40px;
        background: url("../img/menu.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
        
    }
    .toggle.activate{
        width: 40px;
        height: 40px;
        background: url("../img/close.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }
    header.sticky .toggle{
        filter: invert(1);
    }
    section{
        padding: 100px 50px
    }
    .banner{
        padding: 150px 50px 100px;
    }
    .banner h2{
        font-size: 1.5em;
    }
    .services .content{
        flex-direction: column;
        width: 80%;
    }
    .about .content .contentImg img{
        width: 100%;
    }
    .services .content .servicesBx{
        width: 100%;
        max-width: 100%;
        margin: 5px;
    }
    .testimonios .content{
        flex-direction: column;
    }
    .testimonios .content .testimonioBox{
        max-width: calc(100% - 20px);
        padding: 40px 20px;
        margin: 10px;
    }
  
}
@media (max-width: 460px){
    header .logo{
        display: none;
    }
    .banner .textBx{
        font-size: 10px;
    }
    .about .content .contentImg img{
        width: 100%;
    }
   
}
